---
import { Head } from "@/components/Head";
import AppRouter from "@/components/Router";
import "@/styles/global.css";

export const prerender = true;
---

<html lang="en" class="w-full h-full">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>Fluent Voices</title>
    <meta name="description" content="Empowering voices through communication and leadership" />
    <Head />
  </head>
  <body class="w-full h-full">
    <div id="root" class="w-full h-full">
      <AppRouter client:only="react" />
    </div>
  </body>
</html>
